<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lista de Clientes</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <header>
        <h1>Lista de Clientes</h1>
        <nav>
            <a href="/">Volver al Inicio</a>
        </nav>
    </header>

    <main>
        <section>
            <h2>Clientes</h2>
            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nombre</th>
                        <th>CUIT</th>
                        <th>Email</th>
                        <th>Direccion</th>
                        <th>Coordenada</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- Recorremos la lista de clientes -->
                    <tr th:each="cliente : ${clientes}">
                        <td th:text="${cliente.id}"></td>
                        <td th:text="${cliente.nombre}"></td>
                        <td th:text="${cliente.cuit}"></td>
                        <td th:text="${cliente.email}"></td>
                        <td th:text="${cliente.direccion}"></td>
                        <td th:text="${cliente.coordenada}"></td>
                        <td>
                            <!-- Acciones -->
                            <a th:href="@{/api/clientes/{id}(id=${cliente.id})}">Ver</a>
                            <a th:href="@{/api/clientes/editar/{id}(id=${cliente.id})}">Editar</a>
                            <a th:href="@{/api/clientes/eliminar/{id}(id=${cliente.id})}" onclick="return confirm('¿Estás seguro de eliminar este cliente?');">Eliminar</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </section>
    </main>

    <footer>
        <p>&copy; UTN FRSF DS TP</p>
    </footer>
</body>
</html>
