<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Estado del Pedido</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <header>
        <nav>
            <a href="@{/}">Volver al inicio</a>
        </nav>
    </header>
    <main>
        <section>
            <h2>Información del Estado</h2>
            <div>
                <p><strong>Estado:</strong> <span th:text="${pedido.estado}"></span></p>
            </div>
        </section>
    </main>
    <footer>
        <p>&copy; UTN FRSF DS TP cliente.html</p>
    </footer>
</body>
</html>
