<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Menú de Búsquedas</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <header>
        <h1>Menú de Búsquedas</h1>
        <nav>
            <ul>
                <li><a href="#gestion-cliente">Gestion Cliente</a></li>
                <li><a href="#gestion-vendedor">Gestion Vendedor</a></li>
                <li><a href="#gestion-pedido">Gestion Pedido</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <section id="gestion-cliente">
            <h2>Gestion Cliente</h2>
            <form th:action="@{/api/clientes}" method="get">
                <button type="submit">Acceder</button>
            </form>
        </section>
        
        <section id="gestion-vendedor">
            <h2>Gestion Vendedor</h2>
            <form th:action="@{/api/vendedores}" method="get">
                <button type="submit">Acceder</button>
            </form>
        </section>

        <section id="gestion-pedido">
            <h2>Gestion Pedido</h2>
            <form th:action="@{/api/pedidos}" method="get">
                <button type="submit">Acceder</button>
            </form>
        </section>
    </main>

    <footer>
        <p>&copy; UTN FRSF DS TP index.html</p>
    </footer>
</body>
</html>
