<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lista de pedidos</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <section>
        <h2>Buscar Pedido</h2>
        <form th:action="@{/api/pedidos/id}" method="get">
            <label for="pedidoId">Buscar por Id:</label>
            <input type="text" id="pedidoId" name="id" placeholder="Id" required>
            <button type="submit">Buscar</button>
        </form>
        <form th:action="@{/api/pedidos/estadoPedido}" method="get">
            <label for="pedidoEstadoPedido">Buscar por Nombre:</label>
            <input type="text" id="pedidoEstadoPedido" name="estadoPedido" placeholder="EstadoPedido" required>
            <button type="submit">Buscar</button>
        </form>
    </section>
    <br>
        
    <header>
        <h1>Lista de Pedidos</h1>
        <nav>
            <a href="/">Volver al Inicio</a>
        </nav>
    </header>

    <main>
        <section>
            <h2>pedidos</h2>
            <table>
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>EstadoPedido</th>
                        <th>IdCliente</th>
                        <th>Precio</th>
                        <th>ContextoPago</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="pedido : ${pedidos}">
                        <td th:text="${pedido.id}"></td>
                        <td th:text="${pedido.estadoPedido}"></td>
                        <td th:text="${pedido.cliente}"></td>
                        <td th:text="${pedido.precioTotal}"></td>
                        <td th:text="${pedido.contextoPago}"></td>
<!--                        <td>
                            <a th:href="@{/api/pedidos/id}">Ver</a>
                            <a th:href="@{/api/pedidos/editar}">Editar</a>
                            <a th:href="@{/api/pedidos/eliminar}" onclick="return confirm('¿Estás seguro de eliminar este pedido?');">Eliminar</a>
                        </td>-->
                    </tr>
                </tbody>
            </table>
        </section>
    </main>

    <footer>
        <p>&copy; UTN FRSF DS TP</p>
    </footer>
</body>
</html>

