<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lista de pedidoes</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <form th:action="@{/api/pedido}" method="post">

        <label>id:</label>
        <input type="number" name="id">
        <label>estado pedido:</label>
        <input type="text" name="estadoPedido">
        <label>cliente:</label>
        <input type="number" name="idCliente">
        <label>precio total:</label>
        <input type="number" name="precioTotal">
        <label>contexto pago:</label>
        <input type="number" name="contextoPago">
        <button type="submit" >Guardar</button>
        </form> <br>
        
    <header>
        <h1>Lista de Pedidos</h1>
        <nav>
            <a href="/">Volver al Inicio</a>
        </nav>
    </header>

    <main>
        <section>
            <h2>pedidoes</h2>
            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Estado Pedido</th>
                        <th>ID Cliente</th>
                        <th>Precio</th>
                        <th>Contexto Pago</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="pedido : ${pedidos}">
                        <td th:text="${pedido.id}"></td>
                        <td th:text="${pedido.estadoPedido}"></td>
                        <td th:text="${pedido.idCliente}"></td>
                        <td th:text="${pedido.precioTotal}"></td>
                        <td>
                            <a th:href="@{/api/pedido}">Ver</a>
                            <a th:href="@{/api/pedido/editar}">Editar</a>
                            <a th:href="@{/api/pedido/eliminar}" onclick="return confirm('¿Estás seguro de eliminar este pedido?');">Eliminar</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </section>
    </main>

    <footer>
        <p>&copy; UTN FRSF DS TP</p>
    </footer>
</body>
</html>

