<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lista de Vendedores</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <form th:action="@{/api/vendedores/guardarvendedor}" method="post">

        <label>id:</label>
        <input type="number" name="id">
        <label>nombre:</label>
        <input type="text" name="nombre">
        <label>direccion:</label>
        <input type="text" name="direccion">
        <label>coordenada:</label>
        <input type="number" name="coordenada">
        <button type="submit" >Guardar</button>
        </form> <br>
        
    <header>
        <h1>Lista de Vendedores</h1>
        <nav>
            <a href="/">Volver al Inicio</a>
        </nav>
    </header>

    <main>
        <section>
            <h2>Vendedores</h2>
            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nombre</th>
                        <th>Direccion</th>
                        <th>Coordenada</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="vendedor : ${vendedores}">
                        <td th:text="${vendedor.id}"></td>
                        <td th:text="${vendedor.nombre}"></td>
                        <td th:text="${vendedor.direccion}"></td>
                        <td th:text="${vendedor.coordenada}"></td>
                        <td>
                            <a th:href="@{/api/vendedor}">Ver</a>
                            <a th:href="@{/api/vendedor/editar}">Editar</a>
                            <a th:href="@{/api/vendedor/eliminar}" onclick="return confirm('¿Estás seguro de eliminar este vendedor?');">Eliminar</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </section>
    </main>

    <footer>
        <p>&copy; UTN FRSF DS TP</p>
    </footer>
</body>
</html>
